.container {
  /* background-color: rgb(238, 18, 10); */
  display: flex;
  flex-direction: row-reverse;
  justify-items: center;
}

.caja {
  width: 65%;
  margin-top: 2em;
}

.caja img {
  border-radius: 50%;
  width: 30em;
}